@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

body {
    background-color: #ee9322;
}

#title-page {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

#profile_face_skr_503 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius:50%;
    object-position: -85px 0px;
}